* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --navText: #253863;
  --navBtn: #0e69ff;
}
body {
  height: 100vh;
}

/* wraper */
.wraper {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Two Grid column */
.grid-two-column {
  display: grid;
  grid-template-columns: 3fr 2fr;

  /* align-items: center;
  justify-content: center; */
}

.second-Headers {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 2.5rem;
  color: #031c4e;
}
/* HEADER AREA */
.header {
  height: 65px;
  position: fixed;
  width: 100%;
  background-color: #fff;

  /* border-bottom: 1px solid black; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 70px;
}

/* logo */
.logo {
  text-align: center;
  padding-top: 19px;

  padding-left: 100px;
}
.logo img {
  max-height: 1.75rem;
}

/* center links */
.center .center-list {
  list-style: none;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;

  transition: 0.4s;
}

.center-list a {
  text-decoration: none;

  color: var(--navText);
}

.center-list a:active {
  text-decoration: underline;
}
.center a:hover {
  color: var(--navBtn);
}

/* right links */
.right {
  display: grid;
  grid-template-columns: 1fr auto;
}
.right .right-list {
  list-style: none;
  height: 100%;

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}
.right-list .a-links {
  text-decoration: none;
  color: var(--navText);
}

.right-list .a-links:hover {
  color: var(--navBtn);
}
.right-list a:active {
  text-decoration: underline;
}
/* btn */
.sign-up-btn {
  margin-right: 50px;
  background-color: #fff;
  color: var(--navBtn);
  border: 1px solid var(--navBtn);
  border-radius: 3px;
  padding: 5px 14px;

  transition: 0.4s;
}

.sign-up-btn:hover {
  background-color: var(--navBtn);
  color: #fff;
}

/*  HERO SECTION */

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 560px;
  padding-top: 65px;

  background-color: rgb(0, 105, 255);
  background-image: url("https://images.prismic.io/www-static/a0e6d310-811f-467a-a9b6-003df34c1110_bg-marketplace.svg?auto=compress,format");
  text-align: center;
}

.hero-content {
  height: 100%;
  align-items: center;
  gap: 24px;
}
/* form */
.form img {
  width: 15px;
  height: 15px;
}

/* text - section */
.text-section {
  text-align: left;

  color: #bacdff;
  font-size: 1.4rem;
}

.text-section h1 {
  color: #fff;
  font-size: 3.5rem;
}

.text-section-p {
}

/* form section */

.form-container {
}

.form {
  background-color: #fff;
  border-radius: 5px;
}

.form .first-h2 {
  color: #031c4e;

  font-size: 1.6rem;
}

.form .second-h2 {
  color: #0e69ff;
  font-size: 1.6rem;
}

.inputs-btn {
  margin-top: 20px;
}
.form input,
button {
  display: block;
  width: 85%;

  margin-left: 20px;
  padding: 10px;

  margin-bottom: 5px;
}

.form button {
  padding: 5px;
}

.form small a {
  color: #0e69ff;
}

/* BUSINESS SECTION */

.but {
  background-color: #eeeff8;
  height: 300px;
}
.business {
  text-align: center;
  /* background-color: #eeeff8;
  height: 300px; */
}

.inovative-p {
  padding-top: 45px;
  padding-bottom: 45px;
  text-transform: uppercase;
}

.customer-p {
  margin-top: 30px;

  color: #0e69ff;
}

.business-icons {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
}

.business-icons img {
  width: 100%;
}

/* DEPLOY SECTION */
.deploy-scale {
  color: #9da5b5;
}
.deploy-scale .top-part {
  text-align: center;
  padding: 5px;
}

/* .deploy-scale .header2 {
  padding-top: 40px;
  font-size: 2.5rem;
  color: #031c4e;
} */

/* lower section with the list and items */
.deploy-scale .lower-deploy {
  margin-top: 50px;
  /* max-width: 900px; */
  display: grid;
  grid-template-columns: 2fr 5fr;
  place-items: center;
}

/* left */
.deploy-scale .lower-deploy .left ul {
  list-style: none;
  border-left: 2px solid #9da5b5;
  padding-left: 10px;
  height: 200px;
}
.deploy-scale .lower-deploy .left ul li {
  margin-bottom: 20px;
  font-size: 1.2em;
}

/* right */
.deploy-scale .lower-deploy .right {
  padding: 5px;
}

.deploy-scale .lower-deploy .right .right-box {
  margin: 10px;
}
.deploy-scale .lower-deploy .right .right-box h3 {
  color: #031c4e;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* DESING FOR DEVELOPERS */
.design {
  background-color: #f3f5fa;
  display: grid;
  place-items: center;
  color: #717171;
}
/* .design .design-h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 2.2rem;
  color: #031c4e;
} */
.design .design-p {
  margin-bottom: 20px;
}
.design img {
  width: 50%;
  margin: 20px;
}
.design .desing-p-under-img {
  color: #031c4e;
  margin-bottom: 10px;
}
/* dots */
.dot {
  margin-top: 30px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/*  BUSINESS FEATURES  */

.business-features {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 25px;
}

/* .business-features .business-h2 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 2.2rem;
  color: #031c4e;
} */

.business-features .business-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  grid-gap: 10px;
}

.business-features .business-boxes .business-box-h3 {
  margin-bottom: 10px;
  margin-top: 10px;
  color: #031c4e;
}

.business-features .business-boxes .business-pricing {
  margin-top: 10px;
  color: #0e69ff;
}

/* SERVICES AND CUSTOMERS */
.services {
  background-color: #0e69ff;
  padding-top: 30px;
  text-align: center;
}

.services .services-h2 {
  color: #fff;
  /* margin-bottom: 35px;
  font-size: 2.1rem; */
}

.services .services-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

  border: 3px solid black;
}

.services .services-boxes .services-boxes-left {
  border: 3px solid pink;
}
.services .services-boxes .services-boxes-right {
  border: 3px solid pink;
}

.services .services-boxes .services-boxes-left .services-box-left-row {
  display: grid;
  grid-template-columns: 50px 1fr auto;
}

/* text-align: start;
margin-left: 50px; */
